---
pagination:
  data: map
  size: 1
  alias: book
  resolve: values
permalink: "{{ book.slug }}.njk"
---
---
title: {{ book.name }}
pagination:
  data: map.{{ book.slug }}.chapters
  size: 1
  alias: chapters
---
